* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  margin: 20px 0 25px 46px;
}

.link-header {
  color: #17233d;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  cursor: pointer;
  margin: 21px;
}

.button-Sing {
  background: #4cb538;
  color: #ffffff;
  border: none;
  width: 124px;
  height: 51px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
}

.logo-image {
  width: 595.18px;
  height: 500px;
  margin-left: 121px;
  display: inline-block;
}

section {
  display: inline-block;
}

h1 {
  width: 582px;
  height: 200px;
  font-size: 62px;
  font-weight: 700;
  line-height: 82px;
  color: #161a49;
}

p {
  width: 493px;
  height: 130px;
  margin: auto;
  font-size: 18px;
  font-weight: 400;
  line-height: 33px;
  color: #161a49;
}

h3 {
  width: 112px;
  height: 27px;
  margin: auto;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #6fbf44;
  cursor: pointer;
}
